# Built artifacts
bin
gen
out
build
.gradle

# Android Studio / IntelliJ
.idea
*.iml
*.iws
*.ipr
/local.properties
.navigation
captures/
.externalNativeBuild
.cxx
memory_settings.xml

# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# Keystore files
*.jks
*.keystore
*.pk8
*.p12

# Google Services
google-services.json

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log
*.aab
*.zip
